.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    nav {
        display: flex;
        align-items: center;
        gap: 1em;
        height: 4.3em;
        padding: 0 20px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
        background-color: rgba(255, 255, 255, 1);

        ul {
            width: 100%;
            position: absolute;
            display: none;
            left: 0;
            list-style: none;
            background-color: rgba(255, 255, 255, 1);
            padding: 8px 0;
            z-index: -1;

            li {
                margin: 21px 16px;

                a {
                    font-family: "Archivo", sans-serif;
                    font-weight: 600;
                }
            }
        }
    }

    .menuDown {
        display: block;
        left: 0;
        top: 67px;
    }

    &__menuBurguerSvg {
        cursor: pointer;
        transition: transform 500ms;
    }

    a {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 16px;
        font-family: "Archivo", sans-serif;

    }

    &__iconSvg {
        position: absolute;
        display: flex;
        width: 70px;
        right: 23px;
        justify-content: space-between;
    }
}

.iconLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-left: 12px;
    box-shadow: 0px 8px 10px rgba(139, 139, 139, 0.25);
    font-size: 18px;
}

.p1 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
}

.p2 {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
}