@import "mixins";

.containerInfo {
    background-color: rgb(51, 51, 51);
}

.info {
    position: relative;
    padding: 140px 20px 60px;
    color: rgba(255, 255, 255, 1);

    &__subTitle {
        width: 70%;
        @include subTitleArchivo(rgba(255, 255, 255, 1));
    }

    &__title {
        @include title(rgba(255, 255, 255, 1));
    }

    &__take {
        @include button(rgba(190, 173, 142, 1), none);
        width: 216px;
        margin: 0 20px 20px 0;
    }

    &__learn {
        @include button(transparent, 2px solid rgba(255, 255, 255, 0.33));
        width: 216px;
    }
}

.infoSmall {
    padding: 120px 20px 60px;

}

@media only screen and (min-width: 1000px) {

    .info {
        max-width: 80vw;
        margin: 0 auto;
        padding: 210px 0px 16px 90px;

        &__title {
            font-size: 120px;
            font-weight: 400;
            line-height: 130px;
            letter-spacing: -3.59px;
            max-width: 700px;
            margin-bottom: 16px;
        }

        &__take {
            margin-bottom: 70px;
        }

        .info--titleSmall {
            font-size: 72px;
            line-height: 100px;
        }

        .info--subTitleSmall {
            margin-bottom: 0px;
        }
    }
}