@import "mixins";


.slider {
  text-align: center;

  .subTitle--noButton {
    margin: 50px 0 20px;
  }

  .swiperRoomsHome {
    max-width: 1400px;

    .button-next-roomsHome {
      top: 145px;
      background-color: rgba(190, 173, 142, 1);
      color: rgb(255, 255, 255, 1);
      width: 32px;
      height: 32px;
    }

    .button-prev-roomsHome {
      top: 145px;
      background-color: rgb(255, 255, 255, 1);
      color: rgba(17, 17, 17, 1);
      width: 32px;
      height: 32px;
    }

    ::after {
      font-size: x-small;
    }

    .imgSlideRoom {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .swiper-slide-active .minimal {
      display: block;
    }

    .minimal {
      display: none;
    }

    .swiper-slide-prev .minimal,
    .swiper-slide-next .minimal {
      display: none;
    }

    .swiper-slide {
      .minimal {
        padding: 19px 40px;
        margin: 0 20px;
        background-color: rgb(255, 255, 255);
        position: relative;
        bottom: 25px;

        &__title {
          @include title(rgba(34, 34, 34, 1));
          font-size: 28px;
          line-height: 36px;
          margin-bottom: 10px;
        }

        &__subTitle {
          @include subTitleRoboto(rgba(119, 119, 119, 1));
          line-height: 24px;
        }

        div {
          display: flex;
          justify-content: center;

          .price {
            @include price;
          }

          .priceText {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.slider {
  position: relative;

  .swiperFacilitiesHome {
    margin: 50px 0;

    .facilityCard {
      text-align: start;
      padding: 25px 35px 50px;
      margin: 0 20px;


      .iconContainer {
        display: flex;
        justify-content: space-between;
        align-items: end;

        &__svg {
          width: 70px;
          height: 70px;
          margin-bottom: 20px;
        }

        &__number {
          font-family: Archivo;
          font-size: 120px;
          font-weight: 700;
          line-height: 130px;
          color: rgba(34, 34, 34, 0.04);
          margin-bottom: 20px;
        }
      }

      .title--small {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.9px;
        margin-bottom: 20px;
      }
    }

    .swiper-pagination-bullet-active {
      background: rgba(190, 173, 142, 1);
    }
  }
}

.slider {

  .swiperMenuFoodHome1 {
    .swiper-wrapper {
      margin-bottom: 100px;

      .elementMenu {
        display: flex;
        margin: 0 20px 20px 20px;

        &__img {
          width: 120px;
          height: 120px;
          object-fit: cover;
        }

        &__text {
          text-align: start;
          margin: 10px 10px 10px 30px;

          &__title {
            font-family: Old Standard TT;
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.72px;
            color: rgba(34, 34, 34, 1);
            margin-bottom: 10px;
          }

          &__subtitle {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }


    .button-next-foodMenu {
      top: 90%;
      right: 20px;
      background-color: rgba(190, 173, 142, 1);
      color: rgb(255, 255, 255, 1);
      width: 36px;
      height: 36px;
    }

    .button-prev-foodMenu {
      top: 90%;
      left: 72%;
      background-color: rgba(248, 248, 248, 1);
      color: rgba(17, 17, 17, 1);
      width: 36px;
      height: 36px;
    }

    ::after {
      font-size: x-small;
    }
  }
}


.slider {
  .swiperMenuFoodHome2 {

    .swiper-slide {
      padding: 16px 16px 40px;

      .img-slider3 {
        width: 100%;
      }

    }

    .swiper-pagination-bullet-active {
      background: rgba(190, 173, 142, 1);
    }

  }

}

@media only screen and (min-width: 1000px) {
  .slider {
    .swiperRoomsHome {
      .button-next-roomsHome {
        width: 50px !important;
        height: 50px !important;
        right: 26%;

      }

      .button-prev-roomsHome {
        width: 50px !important;
        height: 50px !important;
        left: 26%;
      }

      ::after {
        font-size: medium !important;
      }

      .swiper-slide-active .minimal {
        display: flex;
        padding: 19px 0;
        align-items: center;

        .divDesktop {
          display: flex;
          flex-direction: column;
        }
      }
    }

  }

  .slider {

    .swiperFacilitiesHome {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      overflow: visible;
      max-width: 1200px;
      margin: 50px auto;

      .swiper-wrapper {
        display: contents;

      }

      .swiper-slide {
        flex: none;
        display: block;
        width: 100% !important;
        margin: 0;
      }
    }

    .swiper-pagination {
      display: none;
    }
  }
}