@import "mixins";

.videoHome {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(34, 34, 34, 1);
    padding: 64px 20px 0;

    &__containerVideoHome {
        &__subTitle {
            @include subTitleArchivo(rgba(189, 172, 141, 1));
            margin-bottom: 28px;
        }

        &__title {
            @include title(rgb(255, 255, 255));
            margin-bottom: 16px;
            max-width: 500px;
        }

        &__text {
            @include textArchivo(rgba(194, 194, 194, 1));
            margin-bottom: 30px;
            max-width: 360px;
        }

        &__videoDiv {
            max-width: 440px;
            height: 270px;
            margin: 0 auto;
        }

        button {
            @include button(rgba(189, 172, 141, 1), none);
            width: 216px;
            margin: 28px 0 40px;
        }
    }
}

.videoHome--about {
    background-color: rgba(255, 255, 255, 1);
    padding: 50px 20px 0;

    .title--about {
        @include title(rgba(34, 34, 34, 1));
        font-size: 32px;
        line-height: 39px;
        letter-spacing: -1.16px;
        text-align: center;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1000px) {
    .videoHome {
        flex-direction: row;
        padding: 0;
        position: relative;
        height: 600px;
        margin-top: 50px;

        .videoHome--info {
            position: absolute;
            top: 104px;
            padding-right: 14%;
        }

        &__containerVideoHome {
            width: 70%;
            padding: 70px 0px;
            display: flex;
            justify-content: flex-end;


            &__videoDiv {
                position: absolute;
                top: 0px;
                right: -180px;
                width: 420px;
                height: 392px;
            }
        }

        button {
            margin: 0;
        }

        .divGold {
            width: 30%;
            background-color: rgba(173, 157, 130, 1);
        }
    }
}