@import "../mixins";

.roomDetails {
    padding: 40px 20px;
}

.containerInfoDetails {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    gap: 40px;

    .infoDetails {
        &__subTitle {
            @include subTitleArchivo(rgba(119, 119, 119, 1));
            margin: 0;
            font-size: 14px;
            line-height: 15.2px;
        }

        &__divTitle {
            display: flex;
            flex-direction: column;

            &__title {
                @include title(rgba(34, 34, 34, 1));
                margin: 12px 0;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: -1.44px;
                font-weight: 400;
            }

            &__divPrice {
                display: flex;
                align-items: end;
                margin: 10px 0;

                &__price {
                    @include price;
                }

                &__priceText {
                    margin-bottom: 7px;
                    color: rgba(190, 173, 142, 1);
                }
            }
        }

        &__img {
            width: 100%;
        }
    }

    .CheckAvailability {
        position: relative;
        background-color: rgba(255, 255, 255, 1);
        max-width: 300px;
        margin: 0 auto;
        font-family: "Archivo", sans-serif;
        font-weight: 700;
        line-height: 15.23px;
        width: 100%;
        height: 335px;

        h3 {
            text-align: center;
            font-size: 18px;
            margin-bottom: 40px;
        }

        label {
            font-family: "roboto", sans-serif;
            line-height: 16px;
            width: 100%;
        }

        input {
            display: flex;
            width: 100%;
            background-color: rgba(248, 248, 248, 1);
            border: none;
            border-bottom: 2px solid rgba(190, 173, 142, 1);
            padding: 16px 32px 16px 16px;
            color: rgba(104, 104, 104, 1);
            outline: none;
            margin: 10px 0 32px;
            letter-spacing: 1px;
            font-family: "roboto", sans-serif;
            font-size: 14px;
            font-weight: 400;
        }

        ::-webkit-calendar-picker-indicator {
            position: absolute;
            left: 0;
            cursor: pointer;
            width: 88%;
            margin-left: 15px;
            opacity: 0;
        }

        &__checkIn {
            position: absolute;
            right: 16px;
            top: 96px;
            pointer-events: none;
            font-size: 14px;
            width: 20px;
        }

        &__checkOut {
            position: absolute;
            right: 16px;
            bottom: 110px;
            pointer-events: none;
            font-size: 14px;
            width: 20px;
        }

        button {
            @include button(rgba(190, 173, 142, 1), none);
            width: 100%;
        }
    }
}

.textInfoRoom {
    margin: 40px auto;
    max-width: 500px;

    &__info {
        @include subTitleRoboto(rgba(119, 119, 119, 1));
        max-width: 770px;
    }
}

.amenitiesRoom {
    &__container {
        max-width: 500px;
        margin: 0 auto;

        &__title {
            font-family: "Old Standard TT", sans-serif;
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
        }

        &__div {
            border-top: 1px solid rgba(241, 241, 241, 1);
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 500;
            line-height: 17.58px;
            color: rgba(119, 119, 119, 1);

            &__icons {
                margin-top: 20px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        li {
            list-style: none;
            display: flex;
            margin: 10px 0;
        }

        p {
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            font-weight: 500;
            line-height: 17.58px;
            color: rgba(119, 119, 119, 1);
            margin-left: 10px;
        }
    }
}

.founder {
    margin: 0 auto;
    max-width: 370px;

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 70px 0;
        text-align: center;
        gap: 13px;
        max-width: 370px;

        &__containerImg {
            position: relative;
            width: 150px;
            height: 150px;

            &__divSvg {
                position: absolute;
                top: 0;
                right: 0;
            }

            &__img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                box-shadow: 0px 0px 16px -4px rgba(190, 173, 142, 1);
            }
        }

        h1 {
            font-family: "Old Standard TT", sans-serif;
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: -0.89px;
            margin-top: 18px;
        }

        h3 {
            font-family: "Archivo", sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 15.23px;
            letter-spacing: 2.79px;
            color: rgba(189, 172, 141, 1);
        }

        p {
            font-family: "Archivo", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(119, 119, 119, 1);
            margin-top: 10px;
        }
    }
}

.cancelation--container {
    max-width: 500px;
    margin: 0 auto;
}

.cancelation {
    max-width: 770px;
    margin: 0 auto;

    &__title {
        font-family: "Old Standard TT", sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        color: rgba(34, 34, 34, 1);
    }

    &__divText {
        border-top: 1px solid rgba(241, 241, 241, 1);
        margin: 18px 0;
        padding-top: 30px;

        &__p {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: rgba(119, 119, 119, 1);
        }
    }
}

.relatedRooms {
    position: relative;
    margin: 80px auto;
    max-width: 500px;


    .divRelatedTitle {
        border-bottom: 1px solid rgba(241, 241, 241, 1);
        margin-bottom: 30px;
    }

    .related--title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .relatedRoom--icons {
        top: -25px;
    }
}

@media only screen and (min-width: 1000px) {
    .containerInfoDetails {
        flex-direction: row;
        gap: 60px;
        max-width: 1138px;

        .infoDetails {
            &__subTitle {
                padding-left: 20px;
            }

            &__divTitle {
                flex-direction: row;
                justify-content: space-between;
                padding: 0 20px;
                background-color: #ffffff;
                margin: 0 30px 0 0;
                box-shadow: 6px 0px 10px -5px #bbbbbb78;
            }

            &__img {
                position: relative;
                top: 0;
                top: -35px;
                z-index: -1;
            }
        }
    }

    .textInfoRoom {
        max-width: 1138px;
    }

    .amenitiesRoom {
        max-width: 1138px;
        margin: 0 auto;

        &__container {
            max-width: 900px;
            margin: 40px;

            &__title {}

            &__div {
                &__icons {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }

    .founder {
        max-width: 1138px;
        margin: 0 auto;

        &__card {
            box-shadow: 0px 14px 24px 0px #bead8e45;
            padding: 60px 40px;
        }
    }

    .cancelation--container {
        max-width: 1138px;
    }

    .cancelation {
        max-width: 770px;
        margin: 0;
    }

    .relatedRooms {
        max-width: 1138px;
        margin: 80px auto;

        .roomsHome {
            max-width: 770px;
        }

    }

}