@import "../mixins";


.aboutUsHome {
  position: relative;
  width: 100%;
  margin-top: 60px;

  &__info {
    position: relative;
    padding: 38px 20px 180px;
    margin-bottom: -60px;
    background-color: rgba(249, 249, 249, 1);

    &__title {
      @include title(rgba(17, 17, 17, 1));
      margin-bottom: 14px;
      max-width: 500px
    }

    &__subTitle {
      @include subTitleArchivo(rgba(119, 119, 119, 1));
      margin-bottom: 30px;
    }

    .text {
      @include textArchivo(rgba(119, 119, 119, 1));
    }

    button {
      @include button(rgba(190, 173, 142, 1), none);
      width: 217px;
      margin: 23px 0 0 0;
    }
  }

  .containerTeamLuxury {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }


  .team {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;

    img {
      width: 100%;
      height: 100%;
    }

    .divTeam {
      padding-bottom: 50px;
      box-shadow: 0 8px 16px rgba(34, 34, 34, 0.03);
    }

    div {
      position: relative;
      width: 270px;
      height: 300px;
      text-align: center;
      line-height: 0;

      .teamGold {
        width: 68px;
        height: 50px;
        margin: 54px 0 25px;
      }

      .teamGrey {
        position: absolute;
        width: 144px;
        height: 106px;
        right: 0;
        top: 50px;
        z-index: -2;
      }

      .info__title {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.9px;
        margin: 0;
        color: rgba(17, 17, 17, 1)
      }

      .textRoboto {
        @include subTitleRoboto(rgba(17, 17, 17, 1));
        margin: 35px 35px 0;
      }
    }
  }

  &__luxury {
    position: relative;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 100%;
    }

    div {
      width: 270px;
      height: 300px;
    }

    .divLuxury {
      text-align: center;
      background-color: rgba(34, 34, 34, 1);
      padding: 35px;

      .teamGold {
        width: 68px;
        height: 50px;
        margin: 25px;
      }

      .info__title {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.9px;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 1);
      }

      .textRoboto {
        @include subTitleRoboto(rgba(255, 255, 255, 1));
        // margin: 35px 35px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .aboutUsHome {
    display: flex;
    flex-direction: row-reverse;
    margin: 110px 0 0 0;
    padding: 90px 0;

    .containerTeamLuxury {
      position: relative;
      display: flex;
      bottom: 130px;
      left: 80px;
      flex-direction: row;
      align-items: center;
      gap: 30px;
    }

    .team {
      flex-direction: column-reverse;
    }

    &__luxury {
      gap: 30px;
      top: 30px;
    }

    &__info {
      margin: 0;
      //padding: 0 78px 110px 169px;
      padding: 0px 0 0 130px;
      width: 58%;

      &__title {
        margin-bottom: 14px;
        font-size: 70px;
        line-height: 90px;
        letter-spacing: -2.40px;

      }

      &__subTitle {
        position: absolute;
        top: -45px;
        color: rgba(119, 119, 119, 1);
        font-size: 14px;
      }

      .text {
        max-width: 400px;
      }
    }

  }
}