@import "../mixins";

.date {
    position: relative;
    background-color: rgba(34, 34, 34, 1);
    padding: 36px 20px;

    label {
        font-family: "roboto", sans-serif;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
        width: 100%;
    }

    input {
        display: flex;
        width: 100%;
        max-width: 300px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid rgba(190, 173, 142, 1);
        padding: 0 0 16px 40px;
        color: rgba(104, 104, 104, 1);
        outline: none;
        margin: 20px 0 32px;
        letter-spacing: 1px;
        font-family: "roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;

    }

    ::-webkit-calendar-picker-indicator {
        position: absolute;
        left: 0;
        cursor: pointer;
        width: 88%;
        margin-left: 15px;
        opacity: 0;
    }

    .calendarArrival {
        position: absolute;
        left: 20px;
        top: 75px;
        pointer-events: none;
    }

    .calendarDeparture {
        position: absolute;
        left: 20px;
        top: 180px;
        pointer-events: none;

    }


    button {
        @include button(rgba(190, 173, 142, 1), none);
        width: 250px;
    }
}