@import "scss/home";
@import "scss/header";
@import "scss/footer";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    background-color: rgba(255, 255, 255, 1);

}