@import "scss/header";
@import "scss/info";
@import "scss/footer";
@import "scss/breadcrumb";
@import "scss/mixins";
@import "scss/swiper";
@import "scss/videoHome";
@import "scss/homePage/aboutUsHome";
@import "scss/homePage/benefits";
@import "scss/homePage/form";
@import "scss/homePage/menuFoodsHome";
@import "scss/homePage/roomsHome";
@import "scss/aboutUsPage/iconInfo";











html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}