.header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 70px;
}
.header nav {
  display: flex;
  align-items: center;
  gap: 1em;
  height: 100%;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  background-color: rgb(255, 255, 255);
  padding-left: 22px;
}
.header nav ul {
  width: 100%;
  position: fixed;
  display: none;
  left: 0;
  list-style: none;
  background-color: rgb(255, 255, 255);
  padding: 8px 0;
  z-index: -1;
}
.header nav ul li {
  margin: 21px 16px;
}
.header nav ul li a {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}
.header .menuDown {
  position: absolute;
  display: block;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 68px;
  width: 100%;
}
.header__menuBurguerSvg {
  cursor: pointer;
  transition: transform 500ms;
}
.header a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Archivo", sans-serif;
}
.header__iconSvg {
  position: absolute;
  display: flex;
  width: 70px;
  right: 0;
  justify-content: space-between;
  margin-right: 22px;
}

.iconLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-left: 12px;
  box-shadow: 0px 8px 10px rgba(139, 139, 139, 0.25);
  font-size: 18px;
}

.p1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 12px;
}

.p2 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 12px;
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.info {
  position: relative;
  padding: 140px 20px;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}
.info__subTitle {
  width: 70%;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.8px;
  line-height: 18px;
  margin-bottom: 38px;
  color: rgb(255, 255, 255);
}
.info__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 38px;
  color: rgb(255, 255, 255);
}
.info__take {
  background-color: rgb(190, 173, 142);
  border: none;
  color: rgb(255, 255, 255);
  height: 60px;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  cursor: pointer;
  width: 216px;
  margin: 0 20px 20px 0;
}
.info__learn {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.33);
  color: rgb(255, 255, 255);
  height: 60px;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  cursor: pointer;
  width: 216px;
}

.infoSmall {
  padding: 120px 20px 60px;
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

footer {
  background-image: url("../images/fondo.jpg");
  margin: 40px 20px 0;
}
footer .logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Archivo", sans-serif;
}
footer .logo .iconLogo {
  width: 80px;
  height: 80px;
  font-size: 40px;
  background-color: rgb(190, 173, 142);
  color: rgb(255, 255, 255);
  margin: 0 5px 0 0;
}
footer .logo div .p1 {
  font-size: 26px;
}
footer .logo div .p2 {
  font-size: 26px;
}
footer .footerText {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
  margin: 36px 0 20px;
  font-size: 16px;
}
footer .rrss {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
footer .rrss div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 248, 248);
  width: 40px;
  height: 40px;
}
footer .rrss .rrss-gold {
  background-color: rgb(190, 173, 142);
}
footer .services .servicesTitle {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 38px;
  color: rgb(34, 34, 34);
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0;
  margin: 30px 0;
}
footer .services article {
  display: flex;
}
footer .services article li {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(119, 119, 119);
  font-size: 16px;
  line-height: 48px;
  list-style-type: none;
}
footer .contact {
  font-family: "Old Standard TT", serif;
  font-size: 20px;
  line-height: 24px;
}
footer .contact__title {
  font-size: 24px;
  margin-top: 30px;
}
footer .contact__container {
  display: flex;
  margin: 30px 0;
}
footer .contact__container article {
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: space-around;
  margin-right: 23px;
}
footer .contact__container article span {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(119, 119, 119);
}
footer .copyright {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: rgb(248, 248, 248);
}
footer .copyright p {
  margin: 20px 0 20px 20px;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.breadcrumb {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-right: 20px;
  padding: 16px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.23px;
}
.breadcrumb__link {
  position: relative;
  color: rgb(34, 34, 34);
  text-decoration: none;
  cursor: pointer;
}
.breadcrumb__divider {
  position: relative;
  color: rgb(34, 34, 34);
  margin: 0 8px;
}
.breadcrumb__pageActual {
  position: relative;
  color: rgb(190, 173, 142);
  cursor: default;
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.slider {
  text-align: center;
}
.slider .subTitle--noButton {
  margin: 50px 0 20px;
}
.slider .swiperRoomsHome .button-next-roomsHome {
  top: 125px;
  background-color: rgb(190, 173, 142);
  color: rgb(255, 255, 255);
  width: 32px;
  height: 32px;
}
.slider .swiperRoomsHome .button-prev-roomsHome {
  top: 125px;
  background-color: rgb(255, 255, 255);
  color: rgb(17, 17, 17);
  width: 32px;
  height: 32px;
}
.slider .swiperRoomsHome ::after {
  font-size: x-small;
}
.slider .swiperRoomsHome .imgSlideRoom {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .swiperRoomsHome .swiper-slide .minimal {
  padding: 19px 40px;
  margin: 0 20px;
  background-color: rgb(255, 255, 255);
  position: relative;
  bottom: 25px;
}
.slider .swiperRoomsHome .swiper-slide .minimal__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 38px;
  color: rgb(34, 34, 34);
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 10px;
}
.slider .swiperRoomsHome .swiper-slide .minimal__subTitle {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(119, 119, 119);
  line-height: 24px;
}
.slider .swiperRoomsHome .swiper-slide .minimal div {
  display: flex;
  justify-content: center;
}
.slider .swiperRoomsHome .swiper-slide .minimal div .price {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: rgb(190, 173, 142);
}
.slider .swiperRoomsHome .swiper-slide .minimal div .priceText {
  font-size: 13px;
}

.slider {
  position: relative;
}
.slider .swiperFacilitiesHome {
  margin: 50px 0;
}
.slider .swiperFacilitiesHome .facilityCard {
  text-align: start;
  padding: 25px 35px 50px;
  margin: 0 20px;
}
.slider .swiperFacilitiesHome .facilityCard .iconContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.slider .swiperFacilitiesHome .facilityCard .iconContainer__svg {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}
.slider .swiperFacilitiesHome .facilityCard .iconContainer__number {
  font-family: Archivo;
  font-size: 120px;
  font-weight: 700;
  line-height: 130px;
  color: rgba(34, 34, 34, 0.04);
  margin-bottom: 20px;
}
.slider .swiperFacilitiesHome .facilityCard .title--small {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  margin-bottom: 20px;
}
.slider .swiperFacilitiesHome .swiper-pagination-bullet-active {
  background: rgb(190, 173, 142);
}

.slider .swiperMenuFoodHome1 .swiper-wrapper {
  margin-bottom: 100px;
}
.slider .swiperMenuFoodHome1 .swiper-wrapper .elementMenu {
  display: flex;
  margin: 0 20px 20px 20px;
}
.slider .swiperMenuFoodHome1 .swiper-wrapper .elementMenu__img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .swiperMenuFoodHome1 .swiper-wrapper .elementMenu__text {
  text-align: start;
  margin: 10px 10px 10px 30px;
}
.slider .swiperMenuFoodHome1 .swiper-wrapper .elementMenu__text__title {
  font-family: Old Standard TT;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.72px;
  color: rgb(34, 34, 34);
  margin-bottom: 10px;
}
.slider .swiperMenuFoodHome1 .swiper-wrapper .elementMenu__text__subtitle {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.slider .swiperMenuFoodHome1 .button-next-foodMenu {
  top: 90%;
  right: 20px;
  background-color: rgb(190, 173, 142);
  color: rgb(255, 255, 255);
  width: 36px;
  height: 36px;
}
.slider .swiperMenuFoodHome1 .button-prev-foodMenu {
  top: 90%;
  left: 290px;
  background-color: rgb(248, 248, 248);
  color: rgb(17, 17, 17);
  width: 36px;
  height: 36px;
}
.slider .swiperMenuFoodHome1 ::after {
  font-size: x-small;
}

.slider .swiperMenuFoodHome2 .swiper-slide {
  padding: 16px 16px 40px;
}
.slider .swiperMenuFoodHome2 .swiper-slide .img-slider3 {
  width: 100%;
}
.slider .swiperMenuFoodHome2 .swiper-pagination-bullet-active {
  background: rgb(190, 173, 142);
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.videoHome {
  background-color: rgb(34, 34, 34);
  padding: 64px 20px 0;
}
.videoHome__subTitle {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.8px;
  line-height: 18px;
  margin-bottom: 38px;
  color: rgb(189, 172, 141);
  margin-bottom: 28px;
}
.videoHome__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 38px;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
}
.videoHome__text {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(194, 194, 194);
  margin-bottom: 30px;
}
.videoHome button {
  background-color: rgb(189, 172, 141);
  border: none;
  color: rgb(255, 255, 255);
  height: 60px;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  cursor: pointer;
  width: 216px;
  margin: 28px 0 40px;
}

.videoHome--about {
  background-color: rgb(255, 255, 255);
  padding: 50px 20px 0;
}
.videoHome--about .title--about {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 38px;
  color: rgb(34, 34, 34);
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -1.16px;
  text-align: center;
  margin-top: 30px;
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.aboutUsHome {
  width: 100%;
  color: rgb(255, 255, 255);
}
.aboutUsHome .info {
  margin-top: 60px;
  background-color: rgb(249, 249, 249);
  padding: 38px 20px 50px;
}
.aboutUsHome .info__title {
  color: rgb(17, 17, 17);
  margin-bottom: 14px;
  font-weight: 400;
}
.aboutUsHome .info__subTitle {
  color: rgb(119, 119, 119);
  width: 100%;
  margin-bottom: 30px;
}
.aboutUsHome .info .text {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}
.aboutUsHome .info button {
  background-color: rgb(190, 173, 142);
  border: none;
  color: rgb(255, 255, 255);
  height: 60px;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  cursor: pointer;
  width: 217px;
  margin: 23px 0;
}
.aboutUsHome .team {
  position: relative;
  top: -15px;
  margin: 0 52px 30px;
  box-shadow: 0 8px 16px rgba(34, 34, 34, 0.03);
}
.aboutUsHome .team img {
  width: 270px;
  height: 300px;
}
.aboutUsHome .team .divTeam {
  padding-bottom: 50px;
}
.aboutUsHome .team div {
  position: relative;
  width: 100%;
  height: 50%;
  text-align: center;
  line-height: 0;
}
.aboutUsHome .team div .teamGold {
  width: 68px;
  height: 50px;
  margin: 54px 0 25px;
}
.aboutUsHome .team div .teamGrey {
  position: absolute;
  width: 144px;
  height: 106px;
  right: 0;
  top: 50px;
  z-index: -2;
}
.aboutUsHome .team div .info__title {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  margin: 0;
}
.aboutUsHome .team div .textRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(17, 17, 17);
  margin: 35px 35px 0;
}
.aboutUsHome__luxury {
  line-height: 0;
  margin: 0 52px 52px;
}
.aboutUsHome__luxury img {
  width: 270px;
  height: 300px;
}
.aboutUsHome__luxury div {
  width: 100%;
  height: 50%;
  text-align: center;
  background-color: rgb(34, 34, 34);
  padding: 35px;
}
.aboutUsHome__luxury div .teamGold {
  width: 68px;
  height: 50px;
  margin: 25px;
}
.aboutUsHome__luxury div .info__title {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
.aboutUsHome__luxury div .textRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(255, 255, 255);
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.benefits {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  padding-bottom: 40px;
  margin-top: 20px;
}
.benefits article {
  text-align: center;
}
.benefits article img {
  margin: 48px 0 16px;
}
.benefits article div .benefits--title {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  margin-bottom: -16px;
}
.benefits article div span {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.benefits article .benefits--text {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: rgb(153, 153, 153);
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.date {
  position: relative;
  background-color: rgb(34, 34, 34);
  padding: 36px 20px;
}
.date label {
  font-family: "roboto", sans-serif;
  line-height: 16px;
  color: rgb(255, 255, 255);
  width: 100%;
}
.date input {
  display: flex;
  width: 100%;
  max-width: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(190, 173, 142);
  padding: 0 0 16px 40px;
  color: rgb(104, 104, 104);
  outline: none;
  margin: 20px 0 32px;
  letter-spacing: 1px;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.date ::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  cursor: pointer;
  width: 88%;
  margin-left: 15px;
  opacity: 0;
}
.date .calendarArrival {
  position: absolute;
  left: 20px;
  top: 75px;
  pointer-events: none;
}
.date .calendarDeparture {
  position: absolute;
  left: 20px;
  top: 180px;
  pointer-events: none;
}
.date button {
  background-color: rgb(190, 173, 142);
  border: none;
  color: rgb(255, 255, 255);
  height: 60px;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  cursor: pointer;
  width: 250px;
}

.menuFoodHome {
  position: relative;
  width: 100%;
}
.menuFoodHome__iconSvg {
  background-image: url("../svg/foodMovil.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: 114.5px;
}
.menuFoodHome__containerText {
  width: 100%;
  margin: 0 20px 30px 20px;
}
.menuFoodHome__containerText .subTitle--containerText {
  margin-bottom: 20px;
}
.menuFoodHome__containerText .subTitle--containerText {
  margin-bottom: 20px;
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.roomsHome {
  text-align: center;
  z-index: -1;
}
.roomsHome__subTitle {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.8px;
  line-height: 18px;
  margin-bottom: 38px;
  color: rgb(119, 119, 119);
  margin-bottom: 23px;
}
.roomsHome__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 38px;
  color: rgb(34, 34, 34);
}
.roomsHome__icons {
  position: relative;
  z-index: 5;
  top: 20px;
  width: 256px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgba(138, 138, 138, 0.05);
  padding: 12px;
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.iconInfo {
  margin: 0 20px;
  font-family: Archivo;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 2.4px;
  text-align: center;
}
.iconInfo__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.iconInfo__container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 158px;
  height: 158px;
}
.iconInfo .container--airport {
  background-color: rgb(190, 173, 142);
  color: rgb(255, 255, 255);
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.facilitiesRestaurant {
  width: 100%;
  padding: 0 20px;
}
.facilitiesRestaurant__container {
  padding: 0 20px;
  box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1);
}
.facilitiesRestaurant__container__img {
  width: 100%;
}
.facilitiesRestaurant__container__info {
  margin: 30px 0;
}
.facilitiesRestaurant__container__title {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1.05px;
}
.facilitiesRestaurant__container__text {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
  margin: 20px 0;
}
.facilitiesRestaurant__container__button {
  background-color: rgb(190, 173, 142);
  border: none;
  color: rgb(255, 255, 255);
  height: 60px;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  cursor: pointer;
  width: 216px;
  margin: 0 20px 20px 0;
}

.facilitiesAbout {
  margin: 50px 0 0;
  background-color: rgb(34, 34, 34);
}

.titleFacilitiesAbout {
  color: rgb(255, 255, 255);
}

.subTitle--about {
  color: rgb(255, 255, 255);
  padding: 48px 0 0 0;
}

.facilityCardAbout {
  background-color: rgb(41, 41, 41);
}

.numberFacilitiesAbout {
  color: rgb(34, 34, 34) !important;
}

.title--about {
  color: rgb(255, 255, 255);
}

.text--about {
  color: rgb(255, 255, 255);
}

.sliderAbout1 {
  padding: 0 0 40px 0;
}

.slider {
  position: relative;
}
.slider .swiperAbout1 .facilityCard {
  text-align: start;
  padding: 0px 20px 55px;
  margin: 25px 20px 35px;
}
.slider .swiperAbout1 .facilityCard .iconContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.slider .swiperAbout1 .facilityCard .iconContainer__svg {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}
.slider .swiperAbout1 .facilityCard .iconContainer__number {
  font-family: Archivo;
  font-size: 120px;
  font-weight: 700;
  line-height: 130px;
  color: rgba(34, 34, 34, 0.04);
  margin-bottom: 40px;
}
.slider .swiperAbout1 .facilityCard .title--small {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  margin: 20px 0 25px;
}
.slider .swiperAbout1 .swiper-pagination-bullet-active {
  background: rgb(190, 173, 142);
}
.slider .swiperAbout1 .paginationsAbout1 {
  position: absolute;
  bottom: 0;
}

.counter {
  width: 100%;
  padding: 40px 20px 0 20px;
}
.counter .subTitleAbout {
  margin: 20px 0;
}
.counter .titleAbout {
  margin: 20px 0;
}

.containerCardsAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerCardsAbout__card {
  width: 100%;
  display: flex;
  margin: 30px 0;
}
.containerCardsAbout__card__div {
  width: 50%;
  text-align: center;
}
.containerCardsAbout__card__div__number {
  font-family: "Old Standard TT" sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.8px;
}
.containerCardsAbout__card__div__text {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(119, 119, 119);
}

.slider .swiperAbout2 .swiper-slide {
  padding: 16px 16px 40px;
}
.slider .swiperAbout2 .swiper-slide .img-slider3 {
  width: 100%;
}
.slider .swiperAbout2 .swiper-pagination-bullet-active {
  background: rgb(190, 173, 142);
}

.roomsPage {
  width: 100%;
  padding: 40px 20px 20px;
}

.roomcard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.roomcard__img {
  width: 100%;
  max-width: 335px;
  height: 55%;
}
.roomcard__icons {
  position: relative;
  z-index: 5;
  top: -18px;
  width: 256px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgba(138, 138, 138, 0.05);
  padding: 12px;
}
.roomcard__minimal {
  text-align: center;
  padding: 10px 15px;
}
.roomcard__minimal__title {
  font-family: "Old Standard TT", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.72px;
}
.roomcard__minimal__subTitle {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(119, 119, 119);
  margin: 18px 0;
}
.roomcard__minimal__divPrice {
  display: flex;
  justify-content: center;
  gap: 18px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  text-align: right;
}
.roomcard__minimal__divPrice__price {
  color: rgb(190, 173, 142);
}
.roomcard__minimal__divPrice__booking {
  color: rgb(189, 189, 189);
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-between;
}
.pagination__number {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .pagination--2 {
  background-color: rgb(190, 173, 142);
  color: rgb(255, 255, 255);
}

.textArchivo {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
}

.subTitle {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(119, 119, 119);
}

.subTitleRoboto {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(34, 34, 34);
}

.roomDetails {
  padding: 40px 20px;
}

.infoDetails__divTitle__subTitle {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.8px;
  line-height: 18px;
  margin-bottom: 38px;
  color: rgb(119, 119, 119);
  margin: 0;
  font-size: 14px;
  line-height: 15.2px;
}
.infoDetails__divTitle__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 38px;
  color: rgb(34, 34, 34);
  margin: 12px 0;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.44px;
  font-weight: 400;
}
.infoDetails__divPrice {
  display: flex;
  align-items: end;
  margin: 10px 0;
}
.infoDetails__divPrice__price {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: rgb(190, 173, 142);
}
.infoDetails__divPrice__priceText {
  margin-bottom: 7px;
  color: rgb(190, 173, 142);
}

.CheckAvailability {
  position: relative;
  background-color: rgb(255, 255, 255);
  max-width: 300px;
  margin: 40px auto 20px;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  line-height: 15.23px;
}
.CheckAvailability h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}
.CheckAvailability label {
  font-family: "roboto", sans-serif;
  line-height: 16px;
  width: 100%;
}
.CheckAvailability input {
  display: flex;
  width: 100%;
  background-color: rgb(248, 248, 248);
  border: none;
  border-bottom: 2px solid rgb(190, 173, 142);
  padding: 16px 32px 16px 16px;
  color: rgb(104, 104, 104);
  outline: none;
  margin: 10px 0 32px;
  letter-spacing: 1px;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.CheckAvailability ::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  cursor: pointer;
  width: 88%;
  margin-left: 15px;
  opacity: 0;
}
.CheckAvailability__checkIn {
  position: absolute;
  right: 16px;
  top: 96px;
  pointer-events: none;
  font-size: 14px;
  width: 20px;
}
.CheckAvailability__checkOut {
  position: absolute;
  right: 16px;
  bottom: 110px;
  pointer-events: none;
  font-size: 14px;
  width: 20px;
}
.CheckAvailability button {
  background-color: rgb(190, 173, 142);
  border: none;
  color: rgb(255, 255, 255);
  height: 60px;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  cursor: pointer;
  width: 100%;
}

.textInfoRoom {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(119, 119, 119);
  margin: 40px 0;
}

.amenitiesRoom__title {
  font-family: "Old Standard TT", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}
.amenitiesRoom__div {
  border-top: 1px solid rgb(241, 241, 241);
  margin: 16px 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.58px;
  color: rgb(119, 119, 119);
}
.amenitiesRoom__div__icons {
  width: 50%;
  margin-top: 20px;
}
.amenitiesRoom li {
  list-style: none;
  display: flex;
  margin: 16px 0;
}
.amenitiesRoom p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.58px;
  color: rgb(119, 119, 119);
  margin-left: 10px;
}

.founder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
  text-align: center;
  gap: 13px;
}
.founder__containerImg {
  position: relative;
  width: 150px;
  height: 150px;
}
.founder__containerImg__divSvg {
  position: absolute;
  top: 0;
  right: 0;
}
.founder__containerImg__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 16px -4px rgb(190, 173, 142);
}
.founder h1 {
  font-family: "Old Standard TT", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.89px;
  margin-top: 18px;
}
.founder h3 {
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: rgb(189, 172, 141);
}
.founder p {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(119, 119, 119);
  margin-top: 10px;
}

.cancelation__title {
  font-family: "Old Standard TT", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(34, 34, 34);
}
.cancelation__divText {
  border-top: 1px solid rgb(241, 241, 241);
  margin: 18px 0;
  padding-top: 30px;
}
.cancelation__divText__p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(119, 119, 119);
}

.relatedRooms {
  position: relative;
  margin: 80px 0;
}
.relatedRooms .divRelatedTitle {
  border-bottom: 1px solid rgb(241, 241, 241);
  margin-bottom: 30px;
}
.relatedRooms .related--title {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 12px;
}
.relatedRooms .relatedRoom--icons {
  top: -25px;
}

.slider {
  text-align: center;
}
.slider .swiperRoomsRoom .swiper-button-next {
  top: 120px;
  right: 2px;
  background-color: rgb(190, 173, 142);
  color: rgb(255, 255, 255);
  width: 32px;
  height: 32px;
}
.slider .swiperRoomsRoom .swiper-button-prev {
  top: 120px;
  background-color: rgb(255, 255, 255);
  color: rgb(17, 17, 17);
  width: 32px;
  height: 32px;
  left: 2px;
}
.slider .swiperRoomsRoom ::after {
  font-size: x-small;
}
.slider .swiperRoomsRoom .imgSlideRoom {
  width: 100%;
  height: 218px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .swiperRoomsRoom .swiper-slide .minimal {
  background-color: rgb(255, 255, 255);
  position: relative;
}
.slider .swiperRoomsRoom .swiper-slide .minimal__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 38px;
  color: rgb(34, 34, 34);
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 12px;
}
.slider .swiperRoomsRoom .swiper-slide .minimal__subTitle {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(119, 119, 119);
  line-height: 24px;
  margin-bottom: 12px;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */