@import "../mixins";

.offersPage {
    margin: 40px 0px;
}

.containerOffer {
    max-width: 500px;
    margin: 0 auto;
}

.offer {
    box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1);
    margin: 30px 20px;
    max-width: 500px;

    &__divImg {
        position: relative;

        &__img {
            width: 100%;
        }
    }

    &__divPrices {
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;
        right: 15px;
        bottom: 16px;
        font-family: "Archivo", sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        margin: -56px 0 0 0;

        &__old {
            display: flex;
            color: rgb(192, 166, 116);
            justify-content: flex-end;
            align-items: flex-end;

            &__number {
                font-size: 23px;
                text-decoration: line-through;
            }

            &__text {
                font-size: 11px;
                line-height: 20px;
            }
        }

        &__new {
            display: flex;
            color: rgb(224, 61, 99);
            justify-content: flex-end;
            align-items: flex-end;

            &__number {
                font-size: 30px;
            }

            &__text {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}

.descriptionOffer {
    margin: 10px 20px;

    &__title {
        .title--descriptionOffer {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -1.4px;
            color: rgba(34, 34, 34, 1);
            margin: 16px 0;
        }
    }

    &__button {
        @include button(rgba(189, 172, 141, 1), none);
        width: 216px;
        height: 60px;
        margin: 10px 0 32px 0;
    }

    .containerText {
        &__text {
            @include subTitleRoboto(rgba(119, 119, 119, 1));
        }

        .divAmenitiesOffer {
            border: none;
            margin: 0;
        }

    }
}

.popularRooms {
    background-color: rgba(34, 34, 34, 1);
    padding: 40px 20px 10px;
    margin: 50px 0;

    &__div {
        text-align: center;

        &__subTitle {
            font-family: "Archivo", sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 15.23px;
            letter-spacing: 2.79px;
            color: rgba(189, 172, 141, 1);
        }

        &__title {
            font-family: "Old Standard TT", sans-serif;
            font-size: 40px;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: -0.8px;
            color: rgba(255, 255, 255, 1);
            margin: 20px 0 40px 0;
        }
    }

    .relatedRoom--icons {
        //position: absolute;
        top: -25px;
    }

    .minimal--popularoffer {
        bottom: 44px;
        background-color: rgba(255, 255, 255, 1) !important;
        padding: 45px 20px 30px 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .offersPage {
        margin: 80px 0px 40px 0px;
    }

    .containerOffer {
        max-width: 1138px;
    }

    .offer {
        max-width: 1138px;

        &__divImg {
            z-index: -1;
        }

        &__divPrices {
            right: 110px;
            bottom: -18px;
            margin: 0px 0 0 0;
            gap: 10px;

            &__old {
                &__number {
                    font-size: 28px;
                }

                &__text {
                    font-size: 12px;
                }
            }

            &__new {
                &__number {
                    font-size: 40px;
                }

                &__text {
                    font-size: 16px;
                }
            }
        }
    }

    .descriptionOffer {
        background-color: #ffffff;
        z-index: 1;
        margin: -120px 50px 0;
        padding: 50px;
        border-top: 7px solid #bdac8d;

        &__title {
            .title--descriptionOffer {
                font-size: 48px;
            }
        }


        .containerText {
            display: flex;
            justify-content: space-between;
            gap: 60px;
            border-top: 4px solid #e0e0e06e;
            padding-top: 40px;
            margin-top: 30px;

            &__text {
                width: 50%;
            }

            .amenitiesRoom--container {
                margin: 0;
            }

            .gridIcon--offer {
                grid-template-columns: repeat(2, 1fr);
                margin: 0;
            }

            .amenitiesRoom--offer {
                margin: 0;
                width: 50%;
            }

        }

        &__button {
            margin: -10px 0 10px 0;
        }
    }
}