.slider {
    text-align: center;

    .swiperOfferRoom {
        .swiper-button-next {
            top: 120px;
            right: 2px;
            background-color: rgba(190, 173, 142, 1);
            color: rgb(255, 255, 255, 1);
            width: 32px;
            height: 32px;
        }

        .swiper-button-prev {
            top: 120px;
            background-color: rgb(255, 255, 255, 1);
            color: rgba(17, 17, 17, 1);
            width: 32px;
            height: 32px;
            left: 2px;
        }

        ::after {
            font-size: x-small;
        }

        .imgSlideRoom {
            width: 100%;
            height: 218px;
            object-fit: cover;
        }

        .swiper-slide {
            .minimal {
                background-color: rgb(255, 255, 255);
                position: relative;

                &__title {
                    @include title(rgba(34, 34, 34, 1));
                    font-size: 24px;
                    line-height: 24px;
                    margin-bottom: 12px;
                }

                &__subTitle {
                    @include subTitleRoboto(rgba(119, 119, 119, 1));
                    line-height: 24px;
                    margin-bottom: 12px;
                }

                &__divPrice {
                    display: flex;
                    justify-content: center;
                    gap: 20px;

                    &__price {
                        @include price;
                        font-size: 16px;
                        line-height: 17.41px;
                    }

                    &__booking {
                        @include subTitleArchivo(#BDBDBD);
                        letter-spacing: 0;
                        text-decoration: none;
                    }
                }

            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .slider {
        // text-align: center;

        .swiperOfferRoom {
            .swiper-wrapper {
                gap: 20px;
            }

        }

    }


}