@import "../mixins";

.contactPage {
    margin: 20px 20px;

    &__divImg {
        max-width: 500px;
        margin: 0 auto;

        &__imgMap {
            width: 100%;
            margin: 20px 0 30px 0;
        }
    }
}

.hotelDetails {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.detail {
    position: relative;

    &__number {
        //font-family: sans-serif;
        font-family: "roboto", sans-serif;
        font-size: 200px;
        font-weight: 700;
        letter-spacing: -6px;
        color: rgba(248, 248, 248, 1);
        text-align: end;
    }

    &__info {
        position: absolute;
        top: 63px;
        display: flex;
        padding-left: 10px;
        align-items: start;

        &__address {
            padding: 0 40px 0 30px;

            &__title {
                font-family: "Old Standard TT", sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                color: rgba(34, 34, 34, 1);
                margin-bottom: 20px;
            }

            &__text {
                font-family: "roboto", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.41px;
                color: rgba(119, 119, 119, 1);
                margin: 5px 0;
            }
        }
    }
}

.formContact {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;

    &__containerInput {
        &__two {

            &__div {
                position: relative;
                width: 100%;
                margin: 20px 0;

                &__text {
                    background-color: rgba(248, 248, 248, 1);
                    width: 100%;
                    padding: 20px 0 20px 50px;
                    border: none;
                    outline: none;
                }

                &__number {
                    background-color: rgba(248, 248, 248, 1);
                    width: 100%;
                    padding: 20px 0 20px 50px;
                    border: none;
                    outline: none;

                }

                &__email {
                    background-color: rgba(248, 248, 248, 1);
                    width: 100%;
                    padding: 20px 0 20px 50px;
                    border: none;
                    outline: none;

                }

                &__svg {
                    position: absolute;
                    left: 20px;
                    top: 20px;
                }

            }

        }

    }

    &__div {
        position: relative;
        width: 100%;
        margin: 20px 0;

        &__svg {
            position: absolute;
            left: 20px;
            top: 20px;
        }

        &__text {
            background-color: rgba(248, 248, 248, 1);
            width: 100%;
            padding: 20px 0 20px 50px;
            border: none;
            outline: none;
        }

        .message {
            background-color: rgba(248, 248, 248, 1);
            width: 100%;
            height: 150px;
            border: none;

        }

        .message::placeholder {
            font-family: sans-serif;
        }
    }

    .buttonFormContact {
        width: 258px;
        height: 60px;
        margin: 20px 0 40px;
        @include button(rgba(190, 173, 142, 1), none)
    }
}

@media only screen and (min-width: 1000px) {
    .contactPage {

        &__divImg {
            max-width: 1138px;
        }
    }

    .hotelDetails {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1138px;
        padding: 0 20px;
    }

    .formContact {
        // text-align: center;
        max-width: 1000px;
        // margin: 0 auto;

        &__containerInput {
            display: flex;
            gap: 20px;

            &__two {
                width: 100%;

                &__div {
                    position: relative;
                    width: 100%;
                    margin: 20px 0;

                    &__text {
                        background-color: rgba(248, 248, 248, 1);
                        width: 100%;
                        padding: 20px 0 20px 50px;
                        border: none;
                        outline: none;
                    }

                    &__number {
                        background-color: rgba(248, 248, 248, 1);
                        width: 100%;
                        padding: 20px 0 20px 50px;
                        border: none;
                        outline: none;

                    }

                    &__email {
                        background-color: rgba(248, 248, 248, 1);
                        width: 100%;
                        padding: 20px 0 20px 50px;
                        border: none;
                        outline: none;

                    }

                    &__svg {
                        position: absolute;
                        left: 20px;
                        top: 20px;
                    }

                }

            }

        }

        &__div {
            position: relative;
            width: 100%;
            margin: 20px 0;

            &__svg {
                position: absolute;
                left: 20px;
                top: 20px;
            }

            &__text {
                background-color: rgba(248, 248, 248, 1);
                width: 100%;
                padding: 20px 0 20px 50px;
                border: none;
                outline: none;
            }

            .message {
                background-color: rgba(248, 248, 248, 1);
                width: 100%;
                height: 150px;
                border: none;

            }

            .message::placeholder {
                font-family: sans-serif;
            }
        }

        .buttonFormContact {
            width: 258px;
            height: 60px;
            margin: 20px 0 40px;
            @include button(rgba(190, 173, 142, 1), none)
        }
    }


}